.main{
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    grid-area: middle;
}
body{
    background-color: #596F62;
}

.navbar{
    grid-area: header;
    background-color: white;
}

.footer{
    grid-area: bottom;
    grid-row: 73;
    background-color: white;
}

.act{
    border-radius: 10px;
    padding: 10px;
    border: none;
    width: 125px;
}


.grid{
    display: grid;
    grid-template-areas: 
    "header header header"
    "middle middle middle"
    "bottom bottom bottom";
    gap: 10px;
    background-color: #596F62;
}

table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    background-color: white;
    border-collapse: collapse;
}

table td{
    border: 1px solid;
    margin: 3px;
}

.cancel{
    position: absolute;
    top: 57%;
    left: 55%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.back{
    position: absolute;
    top: 57%;
    left: 65%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form input{
    margin: 5px;
}


