body{
    background-color: #596F62;
}
.fsearch{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.back{
    position: absolute;
    top: 57%;
    left: 65%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}
table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    background-color: white;
    border-collapse: collapse;
}

table td{
    border: 1px solid;
    margin: 3px;
}