<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <button type="button" onclick="location.href='livrocrt.php?op=Incluir'">Incluir Livro</button>
    </div>
    <div>
        <button onclick="location.href='ListLivro.php'">Listar Livros</button>
    </div>
    <div>
        <button type="button" onclick="location.href='pessoacrt.php?op=Incluir'">Incluir Pessoa</button>
    </div>
    <div>
        <button onclick="location.href='ListPessoa.php'">Listar Pessoas</button>
    </div>
</body>
</html>